# Directories #
build/
bin/
target/

.metadata
.idea/

# OS Files #
.DS_Store
desktop.ini
Thumbs.db

*.class
*.iml
*.ipr
*.iws
*~
*#
.*.swp
.*.swo
*.patch
.settings
._*

# Gradle
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# GWT
**/gwt-unitCache/

# Specific to the project
**/reports/


db/nsheets.h2.db
db/nsheets.lock.db
db/nsheets.trace.db
nsheets/.classpath
nsheets/.project
server/.classpath
server/.project
shared/.classpath
shared/.project
