<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  GwtMaterial
  %%
  Copyright (C) 2015 - 2018 GwtMaterialDesign
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#L%
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Servlets for the workbooks -->
    <servlet>
        <servlet-name>workbooksServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.WorkbooksServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>workbooksServiceServlet</servlet-name>
        <!-- The first "part" of the url is the name of the GWT module as in "rename-to" in .gwt.xml -->
        <url-pattern>/nsheets/workbooksService</url-pattern>
    </servlet-mapping>

    <!-- Servlets for the workbooks -->
    <servlet>
        <servlet-name>usersServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.UsersServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>usersServiceServlet</servlet-name>
        <!-- The first "part" of the url is the name of the GWT module as in "rename-to" in .gwt.xml -->
        <url-pattern>/nsheets/usersService</url-pattern>
    </servlet-mapping>

    <!-- Servlet for Extension Configuration -->
    <servlet>
        <servlet-name>configurationServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.ConfigurationServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>configurationServiceServlet</servlet-name>
        <url-pattern>/nsheets/configurationService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>formsVariablesServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.FormsVariablesServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formsVariablesServiceServlet</servlet-name>
        <url-pattern>/nsheets/formsVariablesService</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>filterServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.FilterServiceImpl</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>filterServiceServlet</servlet-name>
        <url-pattern>/nsheets/filterService</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>cellsServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.CellsServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cellsServiceServlet</servlet-name>
        <url-pattern>/nsheets/cellsService</url-pattern>
    </servlet-mapping>

    <!-- Servlet for Extension Conditional -->
    <servlet>
        <servlet-name>conditionalServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.ConditionalServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>conditionalServiceServlet</servlet-name>
        <url-pattern>/nsheets/conditionalService</url-pattern>
    </servlet-mapping>

    <!-- Servlet for Extension CellStyle -->
    <servlet>
        <servlet-name>cellStyleServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.CellStyleServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cellStyleServiceServlet</servlet-name>
        <url-pattern>/nsheets/cellStyleService</url-pattern>
    </servlet-mapping>

    <!-- Servlets for the notes -->
    <servlet>
        <servlet-name>notesServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.NotesServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>notesServiceServlet</servlet-name>
        <!-- The first "part" of the url is the name of the GWT module as in "rename-to" in .gwt.xml -->
        <url-pattern>/nsheets/notesService</url-pattern>
    </servlet-mapping>

    <!-- Servlets for the contacts -->
    <servlet>
        <servlet-name>contactsServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.ContactsServiceImpl</servlet-class>
    </servlet>

    <!-- Servlets for the contacts -->
    <servlet>
        <servlet-name>tasksServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.TasksServiceImpl</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>tasksServiceServlet</servlet-name>
        <!-- The first "part" of the url is the name of the GWT module as in "rename-to" in .gwt.xml -->
        <url-pattern>/nsheets/tasksService</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>contactsServiceServlet</servlet-name>
        <!-- The first "part" of the url is the name of the GWT module as in "rename-to" in .gwt.xml -->
        <url-pattern>/nsheets/contactsService</url-pattern>
    </servlet-mapping>

    <!-- Servlets for the charts -->
    <servlet>
        <servlet-name>pt.isep.nsheets.nsheets ChartsService</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.ChartServiceImp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>pt.isep.nsheets.nsheets ChartsService</servlet-name>
        <!-- The first "part" of the url is the name of the GWT module as in "rename-to" in .gwt.xml -->
        <url-pattern>/nsheets/chartsService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>exportServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.ExportServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>exportServiceServlet</servlet-name>
        <url-pattern>/nsheets/ExportService</url-pattern>
    </servlet-mapping>

    <!-- Servlets for the notes -->
    <servlet>
        <servlet-name>messagesServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.MessagesServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>messagesServiceServlet</servlet-name>
        <!-- The first "part" of the url is the name of the GWT module as in "rename-to" in .gwt.xml -->
        <url-pattern>/nsheets/messagesService</url-pattern>
    </servlet-mapping>

    <!-- Servlet for Calendar Events-->
    <servlet>
        <servlet-name>pt.isep.nsheets.nsheets CalendarEventService</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.CalendarEventImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>pt.isep.nsheets.nsheets CalendarEventService</servlet-name>
        <url-pattern>/nsheets/calendarEventsService</url-pattern>
    </servlet-mapping>

    <!-- Servlets for the spreadsheet -->
    <servlet>
        <servlet-name>spreadsheetServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.SpreadsheetServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>spreadsheetServiceServlet</servlet-name>
        <!-- The first "part" of the url is the name of the GWT module as in "rename-to" in .gwt.xml -->
        <url-pattern>/nsheets/spreadsheetService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signupServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.lapr4.red.s2.ipc.n1161292.services.SignupServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>signupServiceServlet</servlet-name>
        <!-- The first "part" of the url is the name of the GWT module as in "rename-to" in .gwt.xml -->
        <url-pattern>/nsheets/signupService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>functionServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.FunctionServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>functionServiceServlet</servlet-name>
        <!-- The first "part" of the url is the name of the GWT module as in "rename-to" in .gwt.xml -->
        <url-pattern>/nsheets/functionService</url-pattern>
    </servlet-mapping>

    <!-- Servlet for Import -->
    <servlet>
        <servlet-name>pt.isep.nsheets.nsheets ImportService</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.ImportServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>pt.isep.nsheets.nsheets ImportService</servlet-name>
        <url-pattern>/nsheets/importService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>downloadService</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.DownloadServelet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>downloadService</servlet-name>
        <url-pattern>/nsheets/downloadService</url-pattern>
    </servlet-mapping>

    <!-- Servlet for file uploads -->
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/nsheets/uploadServlet</url-pattern>
    </servlet-mapping>
    
    <!-- Servlets for the PrivateChat -->
    <servlet>
        <servlet-name>privateChatServiceServlet</servlet-name>
        <servlet-class>pt.isep.nsheets.server.services.PrivateChatServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>privateChatServiceServlet</servlet-name>
        <!-- The first "part" of the url is the name of the GWT module as in "rename-to" in .gwt.xml -->
        <url-pattern>/nsheets/privateChatService</url-pattern>
    </servlet-mapping>
</web-app>
